;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Aug 13 16:27:16 2009
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list '("/home/s/shall/cvs/mail/gateway"))
(setq search-ring '(" " "." " " "." " " "." " " "." " " "." " " "." " " "." " " "."))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/log/index.html.erb"
  "index.html.erb<2>"
  'html-mode
  nil
  111
  '(100 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/controllers/log_controller.rb"
  "log_controller.rb"
  'ruby-mode
  nil
  508
  '(525 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/log/find.html.erb"
  "find.html.erb<2>"
  'html-mode
  nil
  345
  '(345 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/frequencies/new.html.erb"
  "new.html.erb"
  'html-mode
  nil
  1244
  '(1204 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/notes.txt"
  "notes.txt"
  'text-mode
  nil
  1218
  '(1210 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/frequencies/index.html.erb"
  "index.html.erb"
  'html-mode
  nil
  1178
  '(350 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/controllers/frequencies_controller.rb"
  "frequencies_controller.rb"
  'ruby-mode
  nil
  1048
  '(1736 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/frequencies/edit.html.erb"
  "edit.html.erb"
  'html-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/main_loop.rb"
  "main_loop.rb"
  'ruby-mode
  nil
  91
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/radio.rb"
  "radio.rb"
  'ruby-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/depot/app/controllers/admin_controller.rb"
  "admin_controller.rb"
  'ruby-mode
  nil
  576
  '(560 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/test.rb"
  "test.rb"
  'ruby-mode
  nil
  303
  '(291 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/info/ruby-notes.txt"
  "ruby-notes.txt"
  'text-mode
  nil
  539
  '(12174 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/info/wireless-notes.txt"
  "wireless-notes.txt"
  'text-mode
  nil
  104
  '(104 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text)))

