;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Aug  5 17:48:06 2009
;; Desktop file format version 206
;; Emacs version 22.3.2

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list '("/home/s/shall/cvs/mail/gateway"))
(setq search-ring '("migrate" " %" "%" "," "%" "," "%" "," "%" "," "%" "," "%" "," "%" ","))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/scotthall/ruby/radio/qso-log/app/views/log/index.html.erb"
  "index.html.erb<2>"
  'html-mode
  nil
  123
  '(70 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/ruby/radio/qso-log/app/controllers/frequencies_controller.rb"
  "frequencies_controller.rb"
  'ruby-mode
  nil
  272
  '(152 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/ruby/radio/qso-log/app/controllers/log_controller.rb"
  "log_controller.rb"
  'ruby-mode
  nil
  177
  '(57 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/ruby/radio/qso-log/app/views/frequencies/index.html.erb"
  "index.html.erb"
  'html-mode
  nil
  711
  '(161 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/ruby/radio/qso-log/app/views/frequencies/find.html.erb"
  "find.html.erb"
  'html-mode
  nil
  163
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/ruby/radio/qso-log/app/views/frequencies/new.html.erb"
  "new.html.erb"
  'html-mode
  nil
  645
  '(8 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/info/ruby-notes.txt"
  "ruby-notes.txt"
  'text-mode
  nil
  16828
  '(16780 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/Users/scotthall/radio/log.txt"
  "log.txt"
  'text-mode
  nil
  28436
  '(28378 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-dos)))

