;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Aug 12 22:03:31 2009
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list '("/home/s/shall/cvs/mail/gateway"))
(setq search-ring '("scot" "scott" "jay" "migrate" " %" "%" "," "%" "," "%" "," "%" "," "%" "," "%"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/frequencies/new.html.erb"
  "new.html.erb"
  'html-mode
  nil
  255
  '(8 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/frequencies/index.html.erb"
  "index.html.erb"
  'html-mode
  nil
  217
  '(161 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/frequencies/find.html.erb"
  "find.html.erb"
  'html-mode
  nil
  256
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/info/ruby-notes.txt"
  "ruby-notes.txt"
  'text-mode
  nil
  539
  '(12174 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/config/environment.rb"
  "environment.rb"
  'text-mode
  nil
  323
  '(318 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/controllers/frequencies_controller.rb"
  "frequencies_controller.rb"
  'text-mode
  nil
  2147
  '(1736 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/info/wireless-notes.txt"
  "wireless-notes.txt"
  'text-mode
  nil
  104
  '(104 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/log/find.html.erb"
  "find.html.erb<2>"
  'html-mode
  nil
  44
  '(34 t)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/controllers/log_controller.rb"
  "log_controller.rb"
  'text-mode
  nil
  334
  '(350 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/config/routes.rb"
  "routes.rb"
  'text-mode
  nil
  437
  '(78 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . raw-text-unix)))

(desktop-create-buffer 206
  "/home/shall/ruby/radio/qso-log/app/views/log/index.html.erb"
  "index.html.erb<2>"
  'html-mode
  nil
  122
  '(100 nil)
  nil
  nil
  '((buffer-file-coding-system . raw-text-unix)))

